[submodule "third_party/Matcha-TTS"]
	path = third_party/Matcha-TTS
	url = https://github.com/shivammehta25/Matcha-TTS.git
[submodule "Montreal-Forced-Aligner"]
	path = Montreal-Forced-Aligner
	url = https://github.com/longtou-2024/Montreal-Forced-Aligner.git
	branch = feature-lt
